<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->

        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>


        <link href="/static/logo.png" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">

        <title>WD&CFC Results Predictor</title>

    </head>

    <body>

        <div class="jumbotron" >
            <div class="container">
            <h1 class="display-4">West predictions game</h1>
            <p class="lead" style="padding-bottom: 1px;">Predict results better than Maine Road fans.</p>
            </div>
          </div>


          {% if session["user_id"] %}
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link" href="/predict">Predict</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/leagues">League</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/privateleagues">Private Leagues</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log out</a>
            </li>
          </ul>
          {% else %}
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link" href="/login">Log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
          </ul>
          {% endif %}


        <main class="container-fluid py-5 text-center">

          {% block main %}{% endblock %}

        </main>

        <footer class="mb-5 small text-center">
            <p>The North West Counties Premier Division is the best league in the country. This website is unaffiliated.</p>
            <a href="https://www.nwcfl.com/index.php" target="_blank">Website</a>
            <br>
            <a href="https://www.instagram.com/northwestcountiesfl/?hl=en" target="_blank">Instagram</a>
            <br>
            <a href="https://twitter.com/nwcfl" target="_blank">Twitter</a>
        </footer>


    </body>
</html>
